<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .header {
            background-color: crimson;
        }

        .footer {
            background-color: crimson;
        }

        .bigDiv {
            display: flex;
            flex-wrap: wrap;
        }

        .smallDiv {
            text-align: center;
            background-color: crimson;
            border: 2px solid black;
        }

        img {
            width: 300px;
        }
    </style>
</head>

<body>
    <header>
        <div class=".header">.</div>
    </header>
    <a href="/home"> <img src="https://dl.dropboxusercontent.com/s/cl3g11lovb4l0ta/gryffindor.png"></a>
    <a href="/home"> <img src="https://dl.dropboxusercontent.com/s/6u4cbggv70j6ofb/hogwarts-crest-inverted.png"></a>
    <a href="/home"> <img src="https://dl.dropboxusercontent.com/s/6lh5qj6xea36k61/hufflepuff.png"></a>
    <a href="/home"> <img src="https://dl.dropboxusercontent.com/s/ezeb6thxayhkx06/ravenclaw.png"></a>
    <footer class=".footer"></footer>
</body>

</html>